.container-fluid{
	width: 100%;
}
.container{
	width: 1170px;
	margin:auto;
}
html , body{
	width: 100%;
	height: 100%;
}
.navigation{
	float: right;
	padding-top: 28px;
}
li{
	display: inline-block;
	font-size: 24px;
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
	
}
.nav-a{
	color: #3D58A6;
}
.clear{
	clear:both;
}
.logo{
	padding-top: 16px;
	margin-bottom: 16px;

}
.container-1{
	height: 518px;
	background-color:#E6E6E6;
	width: 100%;
	position: relative;
}
.banner-img{
	position: absolute;
	top: 33px;
}
.html-logo{
	position: absolute;
	right: 126px;
	bottom: 30px;
}
.text{
	position: absolute;
	bottom: 22px;
	left: 124px;
}
.container-2{
	height: 518px;
	background-color:#363E97;
	width: 100%;
	position: relative;
}
.mini-container-1{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top:90px;
}
.mini-container-2{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top:90px;
	right:90px;
}
.container-2head{
	padding-top: 35px;
}
.parag{
	position: absolute;
	bottom: 144px;
	left: 127px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}
.head-parag{
	display: inline-block;
	font-size: 24px;
	color: #fff;
	font-family: 'Roboto', sans-serif;


}
.divider{
	width: 2px;
	height: 20px;
	background-color: #fff;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.head-parag-2{
	display: inline-block;
	font-size: 24px;
	color: #3D58A6;
	font-family: 'Roboto', sans-serif;

}
.divider-2{
	width: 2px;
	height: 20px;
	background-color: #3D58A6;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 35px;

}
.container-3-1{
	height: 405px;
	position: relative;
	background-color: #BDCCD4;
	width: 100%;	
}
.container-3-1 img{
	display: block;
}
.news-image-1{
	position: absolute;
	top: 90px;
}
.news-image-2{
	position: absolute;
	top:90px;
	left: 394px;

}
.news-image-3{
	position: absolute;
	top:90px;
	right: 394px;
}
.news-image-4{
	position: absolute;
	right: 100px;
	top: 90px;
}
.parag-3-1{
	position: absolute;
	width: 271px;
	height: 53px;
	background-color: #E6E6E6;
	padding: 15px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;

}
.img11{
	display: block;
}
